
* {
    margin: 0px;
    padding: 0px;
}

#Header {
    background-color: #235390;
    width: 100vw;
    height: 70px;
}

#logowhite {
    height: 90px;
    width: 153.64px;
    margin: -7px 460px;
}

#site {
    float: right;
    margin: -51px 490px;
    color: #fff;
    font-size: 15px;
    font-weight: 750;
    font-style: normal;
    letter-spacing: .8px;
    text-transform: uppercase;
    font-family: din-round,sans-serif;
    -webkit-tap-highlight-color: transparent;

}

#heropic {
    height: 825px;
    width: 100%;
    background-color: #235390;
    background-image: url(images/hero\ star-pattern.svg)
}

#earth {
    margin: 225px 642px;
    margin-left: 465px;
}

#flagbar {
    width: 100%;
    height: 75px;
    background-color: #0a4a82;
    background-image: url(images/flags_png.svg);
}

#slogan {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    font-family: din-round,sans-serif!important;
    position: absolute;
    top: -492px;
    left: -100px;
}

#wut {
    height: 60px;
    width: 100%;
    max-width: 500px;
}

#HOWWEDOIT {
    height: 300px;
    width: 1000px;
    align-content: center;
    margin: 0px 475px;
    border: black;
    border: solid;
}

#burd {
    height: 250px;
    width: 350;
}

#Yehaw {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 700;
    font-family: din-round,sans-serif!important;
    float: right;
    position: absolute;
    bottom: 500px;
}

#rose {
    color: #777;
    font-size: 17px;
    margin-bottom: 24px;
    text-align: left;
    width: 500px;
    float: right;
}





